.NavContainer {

    
padding-top: 90px;

}

.Nav {

    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

}

.NavBoxes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NavBox {

background-color: white;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 25px;
margin: 7.5px;

}

.NavBox:hover {

    background-color: rgb(205, 193, 197);

}

.NavBox a {

    text-decoration: none;
    color: black;

}