.NavContainer {

    
padding-top: 90px;

}

.Nav {

    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

}

.NavBoxes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NavBox {

background-color: white;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 25px;
margin: 7.5px;

}

.NavBox:hover {

    background-color: rgb(205, 193, 197);

}

.NavBox a {

    text-decoration: none;
    color: black;

}

.Hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    left: 15px;
    top: 15px;
    background: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 7.54px 11.14px;
}

@media (max-width: 600px) {
    .NavBoxes {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 15px;
        top: 15px;
        width: 80%;
        background-color: white;
        padding: 0;
    }

    .NavBoxes.active {
        display: flex;
        position: relative;
        border-radius: 0 20px 20px 20px;
    }

    .NavContainer.active{
        padding: 0;
    }

    .Nav {
        padding: 0;
    }

    .Nav.active {
        padding: 0;
    }

    .Hamburger {
        display: block;
        z-index: 9999;
    }

    .Hamburger.active {
        border-radius: 20px 20px 0 0 ;
    }

    .NavContainer {

    
        padding-top: 40px;
        
        }
}
