body {


  background-color: #111;
  color: #000000;
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;

}

.white-box {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 37.5px;
}

p {
  font-size: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .white-box {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  flex: 1;
  max-width: calc(50% - 20px);
  /* 25% minus margin */
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.enlargeable-photo {
  cursor: pointer;
}

#photo-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
}

#photo-modal img {
  max-width: 80%;
  max-height: 80%;
}


.enlarge-text {
  text-align: center;
  /* Center the text */
  font-size: 12px;
  /* Adjust the font size as needed */
  margin-top: 5px;
  /* Add some space between the image and text */
}

.gallery {
  column-count: 4;
  column-gap: 10px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
}

.gallery-item {
  display: inline-block;
  margin-bottom: 10px;
  border: 2px solid #000;
  padding: 5px;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.gallery-item p {
  font-size: 25px;
  margin: 0px;
}



@media screen and (max-width:600px) {

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 25px;
  }

  .gallery-item p {
    font-size: 20px;
    margin: 0px;
  }

  div.hide-div {
    display: none;
  }

}

.show {
  display: block;
}
