.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  z-index: -9999;
  position: fixed;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%,
        rgb(255, 103, 159,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* This Background style was found on codepen.io at https://codepen.io/aderaaij/pen/WrvayZ where I have changed certain values of the code to better suite my application of the code.*/ 