body {


    background-color: #111;
    color: #fff;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;

}

.white-box {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 2.5vw;
  }

h1 {
    font-size: 5vw;
}
  