html,
body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.date-box {
  background-color: white;
  width: fit-content;
  margin: auto;
  margin-bottom: 4px;
}

img {
  border: 5px solid white;
}

.image-container {
  display: flex;
  justify-content: center;
}

.branch-bottom {
  background-color: #ff9721;
  margin: 0px auto 5px auto;
  width: 10px;
}

.branch {
  background-color: #ff9721;
  margin: auto;
  width: 10px;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
}

.timeline-boxes {
  overflow-x: scroll;
  display: flex;
  height: 100vh; /* Occupy full viewport height */
  place-items: center; /* Horizontally and vertically center contents */
}

body::-webkit-scrollbar {
  display: none;
}

.box {
  width: fit-content;
  height: 150px;
  background-color: rgba(173, 216, 230, 0);
  margin: 50px;
}

/* Offset every other box vertically */
.box:nth-child(odd) {
  transform: translateY(-90%); /* Move up by 50px */
}

.box:nth-child(even) {
  transform: translateY(55%); /* Move down by 50px */
}

.box:last-child {
  margin-right: 0; /* Remove margin for the last box */
}