/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #40C983;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spacer {
    padding: 25px;
}

.normalfw {
    font-weight: normal;
}

/* Header Styles */
.header {
    margin-top: 5%;
}

.header h1 {
    font-size: 250%;
}

/* Disclaimer Styles*/
.disclaimer {
display: flex;
flex-direction: row;
max-width: 85%;
}

/* Menu Box Styles */
.menuBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-width: 125px;
    max-width: 150px;
    height: 60%;
    max-height: 80px;
    background-color: #FFE566;
    margin: 10px; /* Reduced margin */
    text-decoration: underline;
    text-underline-offset: 3px;
    color: inherit;
    font-size: 125%;
    border: 5px solid #FE8EA4;
    border-radius: 10px;
}

/* Menu Styles */
.menu {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #1360F0;
    height: 45vh;
    width: 50%;
    padding: 0 25% 0 25%;
    column-gap: 20px;
    row-gap: 20px;
}

/* Guides Box Styles */
.guidesBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: #FFE566;
    margin: 20px;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: inherit;
    font-size: 125%;
    border: 5px solid #FE8EA4;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
}

.guidesBox h1 {
    margin: 0;
}

.guidesBox img {
    width: 200px;
    height: 200px;
}

/* Guides Styles */
.guides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    row-gap: 0px;
    place-items: center;
    height: 60vh;
    width: 50%;
}

/* Back Button Styles */
.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 85px;
    height: 6%;
    background-color: #FFE566;
    margin: 10px;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: inherit;
    font-size: 125%;
    border: 5px solid #FE8EA4;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

/* About Us and Our Work Styles */
.about-us, .our-work {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.about-us {
    margin-left: 10%;
    margin-right: 5%;
}

.our-work {
    margin-left: 5%;
    margin-right: 10%;
}

.about-us h1 {
    background-color: #FFE566;
    border: 5px solid #FE8EA4;
    border-radius: 50px;
    font-size: 200%;
    padding: 2vh;
    max-width: max-content;
    margin-bottom: 10px;
}

.about-us h2 {
    background-color: #FFE566;
    border: 5px solid #FE8EA4;
    border-radius: 10px;
    font-size: 3vh;
    padding: 2vh;
    margin-top: 10px;
}

.our-work h1 {
    background-color: #FFE566;
    border: 5px solid #FE8EA4;
    border-radius: 50px;
    font-size: 200%;
    padding: 2vh;
    max-width: max-content;
    margin-bottom: 10px;
}

.our-work h2 {
    background-color: #FFE566;
    border: 5px solid #FE8EA4;
    border-radius: 10px;
    font-size: 3vh;
    padding: 2vh;
    margin-top: 10px;
}

/* Bloods Page Styles */
.bloods-sec {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.bloods-sec h1 {
    background-color: #FFE566;
    border: 5px solid #FE8EA4;
    border-radius: 50px;
    font-size: 200%;
    padding: 2vh;
    max-width: max-content;
    margin-bottom: 10px;
}

.bloods-sec h2 {
    background-color: #FFE566;
    border: 5px solid #FE8EA4;
    border-radius: 10px;
    font-size: 150%;
    padding: 2vh;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}


/* Safe Inject Page Styles */
.si-sec {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.si-sec h1 {
    background-color: #FFE566;
    border: 5px solid #FE8EA4;
    border-radius: 50px;
    font-size: 200%;
    padding: 2vh;
    max-width: max-content;
    margin-bottom: 10px;
    margin-top: 10px;
}

.si-sec h2 {
    background-color: #FFE566;
    border: 5px solid #FE8EA4;
    border-radius: 10px;
    font-size: 150%;
    padding: 2vh;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

/* Mobile Styles */
@media (max-width: 600px) {
    .logo {
        width: 90%;
    }

    section {
        width: 90%;
    }

    .header {
        height: 80vh;
    }

    .header h1 {
        font-size: 200%;
    }

    .menu {
        height: 30vh;
        gap: 10px;
        padding: 10% 0 10% 0;
        width: 100%;
        font-size: 85%;
    }

    .guides {
        height: 30vh;
        gap: 10px;
        margin: 15px 0 50px 0;
        width: 100%;
        font-size: 85%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .guidesBox img {
        width: 50vp;
    }

    .guidesBox {
        margin: 0;
        width: 75%;
        height: 85%;
    }

    .backButton {
        top: auto;
        left: auto;
        bottom: -5px;
        right: -5px;
    }

    .about-us, .our-work {
        margin: auto;
        width: 90%;
    }

    .bloods-sec {
        margin: auto;
        margin-top: 0;
        width: 90%;
    }

    .bloods-sec h2 {
        font-size: 110%;
    }


    .si-sec {
        margin: auto;
        margin-top: 0;
        width: 90%;
    }

    .si-sec h2 {
        font-size: 110%;
    }

    .row {
        flex-direction: column;
    }

    .spacer {
        padding: 0;
    }
}