body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #40C983;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100vh;
}

.header h1 {
    font-size: 250%;
}

section {
    margin: 30px auto;
}

.menuBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-width: 125px;
    max-width: 150px;
    height: 60%;
    max-height: 80px;
    background-color: #FE8EA4;
    margin: 10px; /* Reduced margin */
    text-decoration: underline;
    text-underline-offset: 3px;
    color: inherit;
    font-size: 125%;
    border: 5px solid #FFE566;
    border-radius: 10px;
}

.menu {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /* Reduced gap */
    place-items: center;
    background-color: #1360F0;
    height: 60vh;
    width: 50%;
    padding: 0 25% 0 25%;
}

.guidesBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 80%;
    background-color: #FE8EA4;
    margin: 20px; /* Reduced margin */
    text-decoration: underline;
    text-underline-offset: 3px;
    color: inherit;
    font-size: 125%;
    border: 5px solid #FFE566;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.guidesBox h1 {
    margin: 0;
}

.guidesBox img {
    width: 200px;
    height: 200px;
}

.guides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    row-gap: 0px;
    place-items: center;
    height: 60vh;
    width: 50%;
}

@media (max-width: 600px) {

    .logo {
        width: 90%;
    }
    
    section {
        width: 90%;
    }

    .header {
        height: 80vh;
    }

    .header h1 {
        font-size: 200%;
    }

    .menu {
        height: 30vh;
        gap: 10px;
        padding: 10% 0 10% 0;
        width: 100%;
        font-size: 85%;
    }

    .guides {
        height: 30vh;
        gap: 10px;
        margin: 15px 0 50px 0;
        width: 100%;
        font-size: 85%;
        grid-template-columns: 1fr;
    }

    .guidesBox img {
        width: 50vp;
    }

    .guidesBox {
        margin: 0 50px 0 50px;
        width: 75%;
        height: 85%;
    }
    
}